<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RepositorioProduccion.Procedimientos" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><applicationSettings>
        <RepositorioProduccion.Procedimientos>
            <setting name="SP_T250CREARTOKEN" serializeAs="String">
                <value>SP_T250CREARTOKEN</value>
            </setting>
            <setting name="SP_T250CONSULTARTOKEN" serializeAs="String">
                <value>SP_T250CONSULTARTOKEN</value>
            </setting>
            <setting name="SP_T250ELIMINARTOKEN" serializeAs="String">
                <value>SP_T250ELIMINARTOKEN</value>
            </setting>
            <setting name="SP_T004LOGIN" serializeAs="String">
                <value>SP_T004LOGIN</value>
            </setting>
            <setting name="SP_T013LEEATRIBUTOSUSUARIO" serializeAs="String">
                <value>SP_T013LEEATRIBUTOSUSUARIO</value>
            </setting>
            <setting name="SP_T008TIPOBUS" serializeAs="String">
                <value>SP_T008TIPOBUS</value>
            </setting>
            <setting name="SP_T005OFICINAS_VENTAS" serializeAs="String">
                <value>SP_T005OFICINAS_VENTAS</value>
            </setting>
            <setting name="SP_T026VALORRUTATIPOBUSRUTA_Venta" serializeAs="String">
                <value>SP_T026VALORRUTATIPOBUSRUTA_Venta</value>
            </setting>
            <setting name="SP_T011RUTASPPAL_NOMBRE_ORI" serializeAs="String">
                <value>SP_T011RUTASPPAL_NOMBRE_ORI</value>
            </setting>
            <setting name="SP_T017TIPOTiqueterlectro" serializeAs="String">
                <value>SP_T017TIPOTiqueterlectro</value>
            </setting>
            <setting name="SP_T050VENTAS_Insertar" serializeAs="String">
                <value>SP_T050VENTAS_Insertar</value>
            </setting>
            <setting name="SP_T050TiqueteImp" serializeAs="String">
                <value>SP_T050TiqueteImp</value>
            </setting>
        </RepositorioProduccion.Procedimientos>
    </applicationSettings>
</configuration>
